
body  {
  background-color: #eee;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  position: relative;
}


header  {
  background-image: url("Images/SeasideCliff.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.navbar-lockup  {
  background-color: rgba(0,0,0,0.4);
  height: 120px;
  width: 100%;
  margin: 0px;
  text-align: center;
}

.ss-icon {
  height: 120px;
  width: 120px;
  margin-left: 10px;
}

#nav-header {
  padding: 12px;
  margin-right: 20px;
}

#nav-header a {
color: white;
text-decoration: none;
margin-left: 10px;
font-size: 20px;

}

#nav-header a:hover {
  color: rgba(0, 172, 237, 1);
}

.header-title h1 {
  text-align: center;
  clear: both;
  text-transform: uppercase;
  padding-top: 200px;
  font-size: 72px;
  color: white;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.title  {
  display: inline-block;
  margin-top: 200px;
  margin-left: 300px;
}

#header-title-left {
  margin-right: 250px;
}

#header-title-right {
  margin-left: 250px;
}

#title-border {
border-top: 5px dotted white;
border-bottom: 5px solid white;
padding: 0.5em 0.25em;
display: inline-block;
}

#kicker {
  text-align: center;
  font-size: 30px;
  color: white;
  letter-spacing: 0.05em;
  display: block;
  margin-bottom: 40px;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  #title-left {
    margin-right: 0px;
  }
  #title-right {
    margin-left: 0px;
  }
}

.social-media-icons {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.media-icon {
  height: 60px;
  width: 60px;
  fill: rgba(255, 255, 255, 1);
  margin-left: 20px;
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.media-icon:hover  {
  fill: rgba(0, 172, 237, 1);
  transform: scale(1.2);
}

/* ABOUT SECTION */
section #about  {
}

.title-left-lockup  {
  text-align: center;
  font-size: 40px;
  padding: 0px 20px 0px 20px;
  display: inline;

}

.title-left-lockup h2 {
  font-size: 40px;
}

#about-left-lockup {
  padding-right: 100px;
}

#about-right-lockup {
}

#about-right-lockup p {
  margin: 20px 100px;
  text-align: center;
  font-size: 15px;
}

/* Skills */
#skills-title-lockup {
  text-align: center;
  font-size: 40px;
  margin: 0px 400px 0px 400px;
  position: relative;
  display: block;
  clear: both;
}

#skills-left-lockup {
  padding-right: 100px;
}

#skills-right-lockup {

}

#skills-right-lockup p {
  margin: 20px 100px;
  text-align: center;
  font-size: 15px;
}

#skills-description {
  text-align: center;
  margin: 0px 25px;
  font-size: 15px;
  display: block;
}


.skills-lockup  {
  max-width: 540px;
  margin: 100px auto;
  color: rgba(0,0,0,0.7);
  clear: both;
}


.skills-unit  {
  width: 270px;
  float: left;
  text-align: center;
}
.skill-label{
  text-decoration: underline;
}

.skill-icon{
  margin: 2px 0px 30px;
  font-size: 0px;
}

.skill-icon span{
  background-color: rgba(0, 172, 237, 1);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.skill-icon span:after{
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 2px;
}


.skill-6 span:nth-child(n+6){
  background-color: black;
}
.skill-7 span:nth-child(n+8){
  background-color: #999
}
.skill-8 span:nth-child(n+9){
  background-color: #999
}
.skill-9 span:nth-child(n+10){
  background-color: #999
}

#language-icon-lockup {
  text-align: center;
  display: inline-block;
  margin-top: 50px;
}

.language-icon {
  height: 50px;
  width: 50px;
  transition: 0.2s ease-in-out;

}

.language-icon:hover {
  transform: scale(1.2);
}
/* PORTFOLIO */
#portfolio{
  display: inline-block;
  width: 100%;
  height: 1000px;
  text-align: center;
}


.portfolio-pictures-lockup{
  width: 100%;
  height: 800px;
  display: inline-block;
}



.portfolio-display-image img{
  width: 500px;
  height: 300px;
  margin: 20px 20px;
}

.portfolio-display-image-float img{
}


/* CONTACT */
#contact {
  height: 500px;
  display: block;
  clear: both;
  margin-top: 200px;
}

.contact-details{
  clear: both;
  text-align: center;
  font-size: 50px;
}

/* Footer */

footer{
  background-image: url(Images/SeasideCliff.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
  margin-bottom: 0px;
}

#footer-lockup{
padding: 20px 0px 0px 20px;

}

#navigation-footer{
text-align: center;
}

#navigation-footer a{
color: white;
margin-left: auto;
text-decoration: none;
font-size: 20px;
margin-left: 10px;
}

#navigation-footer a:hover{
  color: rgba(0, 172, 237, 1);
}

#copyright{
  font-size: 20px;
  color: white;
  text-align: center;
  margin-bottom: 0px;
}
